

<div {{action 'toggleModal'}}>
    <article class="listing">
    <div class="detail avatar">
        <img src="{{user.image}}" alt="">
    </div>
    <div class="detail">
        <span>{{user.name}}</span>
    </div>
    <div class="detail">
        <span>{{user.status}}</span>
    </div>
    <div class="detail avatar">
        <span>{{user.age}}</span>
    </div>
    <div class="detail">
        <span>{{user.city}}</span>
    </div>
    <div class="detail">
        <span>{{user.email}}</span>
    </div>
    </article>
</div>

{{#if isShowingModal}}
  {{#modal-dialog onClose="toggleModal"
    targetAttachment="center"
    containerClass='details'}}
    <div class="listing">
        <h3>Profile</h3>
        <div class="detail">
            <span>Name:</span> {{user.name}}
        </div>
        <div class="detail">
            <span>Age:</span> {{user.age}}
        </div>
        <div class="detail">
            <span>status:</span> {{user.status}}
        </div>
        <div class="detail">
            <span>Location:</span> {{user.city}}
        </div>
        <div class="detail">
            <span>Email:</span> {{user.email}}
        </div>
    </div>
{{#each user.address as |address|}}
   <div class="listing">
       <h3>{{address.type}}</h3>
         <div class="detail">
            <span>Street:</span> {{address.street}}
        </div>
        <div class="detail">
            <span>Zip Code:</span> {{address.pin-code}}
        </div>
        <div class="detail">
            <span>City:</span> {{address.city}}
        </div>
        <div class="detail">
            <span>Country:</span> {{address.country}}
        </div>
    </div>
{{/each}}
    
  {{/modal-dialog}}
{{/if}}

{{yield}}
