{{#link-to 'users.user-details' user.id}}
    <article class="listing">
        <div class="detail avatar">
            <img src="{{user.image}}" alt="">
        </div>
        <div class="detail">
            <span title="{{user.name}}">{{user.name}}</span>
        </div>
        <div class="detail">
            <span title="{{user.status}}">{{user.status}}</span>
        </div>
        <div class="detail avatar">
            <span title="{{user.age}}">{{user.age}}</span>
        </div>
        <div class="detail">
            <span title="{{user.city}}">{{user.city}}</span>
        </div>
        <div class="detail text-truncated">
            <span title="{{user.email}}">{{user.email}}</span>
        </div>
    </article>
{{/link-to}}

{{yield}}
